benchmark/results/*
!benchmark/results/.gitkeep
models/frWac_no_postag_no_phrase_700_skip_cut50_stripped.bin
models/frWac_no_postag_no_phrase_500_skip_cut100_stripped.bin
models/frWac_non_lem_no_postag_no_phrase_500_skip_cut100_stripped.bin
models/frWac_no_postag_no_phrase_500_cbow_cut100.bin
models/frWac_non_lem_no_postag_no_phrase_200_skip_cut100_stripped.bin
models/frWac_non_lem_no_postag_no_phrase_500_skip_cut200_stripped.bin
models/frWac_non_lem_no_postag_no_phrase_200_cbow_cut100_stripped.bin
models/frWac_no_postag_no_phrase_700_skip_cut50.bin
models/frWac_no_postag_no_phrase_500_skip_cut100.bin
models/frWac_no_postag_phrase_500_cbow_cut100.bin
models/frWiki_no_phrase_no_postag_1000_skip_cut200_stripped.bin
models/frWiki_no_phrase_no_postag_1000_skip_cut100_stripped.bin
models/frWiki_no_phrase_no_postag_500_cbow_cut10_stripped.bin
models/frWiki_no_phrase_no_postag_1000_skip_cut200.bin
models/frWiki_no_phrase_no_postag_1000_skip_cut100.bin
models/frWiki_no_phrase_no_postag_700_cbow_cut100_stripped.bin
models/frWac_non_lem_no_postag_no_phrase_500_skip_cut200.bin
models/frWiki_no_phrase_no_postag_500_cbow_cut10.bin
models/frWiki_no_phrase_no_postag_700_cbow_cut100.bin
models/frWiki_no_lem_no_postag_no_phrase_1000_skip_cut100_stripped.bin
models/frWiki_no_lem_no_postag_no_phrase_1000_skip_cut200_stripped.bin
models/frWac_non_lem_no_postag_no_phrase_500_skip_cut100.bin
models/frWac_non_lem_no_postag_no_phrase_200_cbow_cut100.bin
models/frWac_no_postag_phrase_500_cbow_cut10.bin
models/frWac_non_lem_no_postag_no_phrase_200_skip_cut100.bin
models/frWiki_no_lem_no_postag_no_phrase_1000_skip_cut200.bin
models/frWiki_no_lem_no_postag_no_phrase_1000_skip_cut100.bin
models/frWac_non_lem_no_postag_no_phrase_200_cbow_cut0.bin
models/frWiki_no_lem_no_postag_no_phrase_1000_cbow_cut200_stripped.bin
models/frWiki_no_lem_no_postag_no_phrase_1000_cbow_cut100_stripped.bin
models/frWiki_no_lem_no_postag_no_phrase_1000_cbow_cut100.bin
models/frWiki_no_lem_no_postag_no_phrase_1000_cbow_cut200.bin
